// COLORS
$color-primary: #0056a4;
$color-primary-light: #3f95e4;
$color-primary-light-2: #e3f2ff;
$color-primary-dark: #063c6c;

$color-secondary-light: #ff7730;
$color-secondary-dark: #e98550;
$color-secondary: #fe4b4b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-green: #2ca202;
$color-red: #9e1111;


// FONT
$default-font-size: 1.6rem;
$big-font-size: 2rem;
